/* For the styling of home page */

.home-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.head-hr{
    background-color: black;
    height: 7px;
}

.footer{
    height: 100px;
    margin-top: 30px;
    padding-top: 10px;
    background-color: rgb(29, 24, 24);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
