*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

    /* background-image: linear-gradient(); */
}

.body{
    background-color: rgb(247, 246, 252);

}

/* Logo */
.logo{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 25px;
    color: deeppink;
    transition: 1s ease-in-out;
}
.logo:hover{
    color: deeppink;
    font-size: 27px;
}

.container-fluid{
    /* width: auto */
    width: 100vw;
}
nav{
    width: 100vw;
}


.links{
    position: absolute;
    margin-left: 42%;
    margin-top: 30px;
}

/* Styling Login page */


.login{
    background-color:rgba(32, 34, 43, 0.795);
    position: absolute;
    top:20%;
    left:40%;
    width:230px;
    max-height: 670px;
    line-height: normal;
    opacity: 2;
    padding:20px;
    border: 1px solid rgb(214, 205, 205);
    border-radius: 10%;
    box-shadow: 0 0 10px 2px;
    color: white;
}

@media(max-width:768px){
   .login{
       left:20%;
       top:20%;

   }

   
   .login input{
    width: 170px;
}
}


.login h3{
    margin-bottom: 20px;
    color:white;
}
.login a{
    color:white;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: auto;
    border:1px solid rgb(47, 137, 255);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px;
    padding: 3px;
}

.login input[type='submit']{
    
    width: 60px;
    height: 33px;
    background-color: dodgerblue;
    font-size: 18px;
    color: #fff;
    margin-right: 3px;
    padding: 0px;
}
span a{
    color:blue;
    font-size: 16px;
}







.signup{
    background-color:rgba(32, 34, 43, 0.795);
    position: absolute;
    top:20%;
    left:40%;
    width:230px;
    max-height: 1300px;
    line-height: normal;
    opacity: 2;
    padding:20px;
    border: 1px solid grey;
    border-radius: 10%;
    box-shadow: 0 0 10px 2px;
    color: white;
}


@media(max-width:720px){
    .signup{
        left:20%;
        top:20%;
    }

    .signup input{
        width: 170px;
    }
 }
 

 /* send chat button */
/* #send{
    width:50px;
    height: 27px;
} */
.signup input[type='submit']{
    width: 70px;
    height: 33px;
    background-color: rgb(21, 127, 233);
    font-size: 18px;
    color: #fff;
    text-align: center;
}
#userInfo{
    background-color: lightskyblue;
    height: 50px;

}


/* Review.js */

.reviewjs{
    display: flex;
    flex-direction: row;
    background-color: gray;
}

#val-1,#val-2,#val-3,#val-4,#val-5{
    color:white;
}


#your-reviews{
    color: blanchedalmond;
    padding: 20px;
    border-radius: 10%;
}






/* taking the messages cont to the bottom */

#msg{
    width: 80%;
    outline: none;
}

@media(max-width:768px){
    #msg{
        width: 70%;
    }
 }
#bottom{
    position: fixed;
    width: 80%;
    bottom: 3%;
}

#frnd-name{
    width: 80%;
    outline: none;
}

@media(max-width:720px){
   #frnd-name{
       width: 60%;
   }
}

#type{
    font-size: 10px;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: deeppink;
}

/* Styling the list */
#frndUL{
    list-style: none;
    margin-top: 40px;
}
#frndUL > li{
   color: blue;
   border-bottom: 1px black solid;
   width: 80%;
   height: 60px;
   padding-left: 5px;
   padding-top: 5px;
   font-size: 20px;
   margin-top: 4px;
   cursor: pointer;
}

/* Invitation button */
#invite{
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: x-large;
    background-color: teal;
    color: white;
}

#chatContainer{
    display: flex;
    flex-direction: column;
    height:400px;
    background-color: rgb(176, 176, 202);
    margin-top: 10px;
    overflow: auto;
}



#chatDiv #username{
    margin-top: 3px;
    margin-left: 30px;
}




.me{
    margin-left: 30%;
    background-color: darkblue;
    width: 200px;
    color: white;
    border-radius: 20%;
    padding: 7px;
}
.otherUser{
    margin-left: 1%;
    background-color: darkcyan;
    width: 200px;
    color: white;
    border-radius: 20%;
    padding: 7px;
}

.time{
    position: relative;
    margin-left: 50%;
}


/* All Users and online USers */
.usersCount{
    text-align: center;
    margin-top: 20px;
    background-color: rgb(54, 44, 44);
    color: white;
}

/* The Black Div For Showing USers */
#allUsers{
     margin-right: 10px;
}

/* Grren Dot of showing online */

.online{
    color:green;
    margin-left: 5px;
    
}
.navbar-nav li a{
    color: white !important;
}

.dropdown-item a{
    background-color: black;
}



/* Account.ejs */

.info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media(max-width:768px){
    .info{
        flex-direction: column;
    }
}