*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

    /* background-image: linear-gradient(); */
}

.body{
    background-color: rgb(146, 139, 180);

}
.links{
    position: absolute;
    margin-left: 42%;
    margin-top: 30px;
}

/* Styling Login page */

#login-body{
    background-color:rgba(4, 7, 29, 0.795);
}

.login{
    position: absolute;
    top:20%;
    left:40%;
    width:230px;
    max-height: 670px;
    line-height: normal;
    background-color: rgb(244, 243, 252,1);
    opacity: 2;
    padding:20px;
    border: 1px solid grey;
    border-radius: 10%;
    box-shadow: 0 0 10px 2px;
}

@media(max-width:720px){
   .login{
       left:20%;
       top:20%;

   }

   
   .login input{
    width: 170px;
}
}


.login h3{
    margin-bottom: 20px;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: auto;
    border:1px solid rgb(47, 137, 255);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px;
    padding: 3px;
}

input[type='submit']{
    
    width: 60px;
    height: 33px;
    background-color: dodgerblue;
    font-size: 18px;
    color: #fff;
    margin-right: 3px;
    padding: 0px;
}
span a{
    color:blue;
    font-size: 16px;
}







.signup{
    position: absolute;
    top:20%;
    left:40%;
    width:230px;
    max-height: 1300px;

    line-height: normal;
    background-color: rgb(244, 243, 252,1);
    opacity: 2;
    padding:20px;
    border: 1px solid grey;
    border-radius: 10%;
    box-shadow: 0 0 10px 2px;
}


@media(max-width:720px){
    .signup{
        left:20%;
        top:20%;
    }

    .signup input{
        width: 170px;
    }
 }
 
#send{
    width:50px;
    height: 27px;
}
.signup 
input[type='submit']{
    
    width: 70px;
    height: 33px;
    background-color: rgb(25, 27, 29);
    font-size: 18px;
    color: #fff;
}

.butt-div{
    background-color: lightskyblue;
    height: 40px;

}

.chatButton,.friendButton{
    float: left;
    width: 40%;
    margin-left: 10%;
    margin-top: 5px;
    font-size: 20px;
    color:rgb(114, 112, 97);
}

.chatButton{
    font-size: 22px;
    color:blue;
}

.chats,.friends{
    float: left;
    width: 98%;
    margin-left: 10px;
}

.friends{
    display: none;
}


/* taking the messages cont to the bottom */

#msg{
    width: 80%;
    outline: none;
}

#bottom{
    position: fixed;
    bottom: 8%;
    width: 80%;
}

#frnd-name{
    width: 80%;
    outline: none;
}


