<div class=" mt-5 home-flex">
    <div class=" home-flex-item">
            <h3>Chat With Friends in Realtime</h3>
            <hr class="head-hr">
            <p>Enjoy Instant Chatting with your Buddies with minimal of efforts </p>
            <a href="/index">Start Chatting</a>
    </div>
    <div class="home-flex-item mt-5">
        <h3>Easiest Getting On Board Process</h3>
        
        <hr class="head-hr">
        <p>Easiest of the Registeration and Login Process
             We Provide Manual,Google and FaceBook Login</p><br>
        <a href="/Login"> Get On Board with us</a>
    </div>
    <div class="home-flex-item mt-5">
        <h3>Have Complete Control on Your Data</h3>
        <hr class="head-hr">

        <p>You have complete Control on your data(profile) change your info anytime by your own</p>
    </div>


</div>

<div class="footer row">
        
    <p>2020 All Rights Reserved</p>
    <p>Contribute at Github <a href="https://github.com/vickyktk/chatBot"><i class="fa fa-github"></i></a></p>
    
</div>