<div class="butt-div">
    
    <a href="#" class="chatButton" id="chatButton">Chats </a>
    <a href="#" class="friendButton" id="friendButton">Friends</a>

    <p id="username"></p>
    <span id="type"></span>
</div>
<input type="hidden" name="user" id="userName" value="<%= user[0].username %>">
<input type="hidden" name="user" id="userID" value="<%= user[0]._id %>">
<input type="hidden" name="user" id="userEmail" value="<%= user[0].email %>">

<div class="chats" id="chatDiv" style="display: none;">
    
    <!-- Sending chat and displaying it -->
     <div class="container" id="chatContainer" >
            <div class="bottom" id="bottom">
                <form action="">
                    <input type="text" placeholder="Enter Your message..." name="msg" id="msg">
             <input type="submit" value="Send" id="send">
                </form>
            </div> 

         <div class="msg-container" id="msg-container">
        </div>
         </div>

  </div>


<div class="friends" id="friendDiv">
    <input type="text" placeholder="Search Friends..." name="search" id="frnd-name">
    <button id="send" class="btn btn-success">Search</button><br>
    <a href="#" id="invite">Invite Friends</a>
    <ul class="friends-list" id="frndUL">

    </ul>
</div>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket=io();
            

            // let params=new URLSearchParams(location.search);
            // var name=params.get('name')
            // var deptt=params.get('select')
           let username=document.getElementById('userName').value
           let email=document.getElementById('userEmail').value
           let id=document.getElementById('userID').value
           let user={
               username,
               email,
               id
           }


            socket.emit('user',user)

            var div=document.getElementById('msg-container');

            //Welcome a user
            socket.on('welcome',(data)=>{


                let frndUL=document.getElementById('frndUL')

                for(let i=0;i<data.Friends.length;i++){
                    
                let list=document.createElement('li')
                list.innerHTML=`${data.Friends[i].username}`
                let check=data.Friends[i].status
                if(check == 1){
                    // let span=document.createElement('span')
                    // list.appendChild(span)
                    // span.classList.add('online')
                    // span.innerHTML='.'     
                    list.classList.add('frndli')
                    frndUL.appendChild(list)
                }else{
                    
                list.classList.add('frndli')
                frndUL.appendChild(list)
                }

                }

            })


            
            //Notifiying others users 
            socket.on('newUser',(data)=>{

                var para=document.createElement('p')
                para.innerHTML=`${data.username} has joined the chat`;
                div.appendChild(para)


            })


            //Broadcasting a message when a user left
            socket.on('userLeft',(data)=>{
                var para=document.createElement('p')
                para.innerHTML=`${data}`;
                div.appendChild(para)
                
            })

        </script>
