    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="style/index.css">
            <title>Chat App</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome To ChatBot</h1>
            <input type="text" name="msg" id="msg">
            <button id="send">Send</button>

            <div class="msg-container" id="msg-container">

            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket=io();
            let params=new URLSearchParams(location.search);
            var name=params.get('name')
            var deptt=params.get('select')

            socket.emit('user',name)

            var div=document.getElementById('msg-container');

            //Welcome a user
            socket.on('welcome',(data)=>{
                var para=document.createElement('p')
                para.innerHTML=` welcome ${data}`;
                div.appendChild(para)
            })


            
            //Notifiying others users 
            socket.on('newUser',(data)=>{
                var para=document.createElement('p')
                para.innerHTML=`${data} has joined the chat`;
                div.appendChild(para)
            })


            //Broadcasting a message when a user left
            socket.on('userLeft',(data)=>{
                var para=document.createElement('p')
                para.innerHTML=`${data}`;
                div.appendChild(para)
            })



            
            //Sending message to the backend
            var send=document.getElementById('send')
            send.addEventListener('click',()=>{
                var msg=document.getElementById('msg').value;
                socket.emit('newMsg',{msg:msg,user:name})

                document.getElementById('msg').value=''
                document.getElementById('msg').focus();
            })


            //Recieving the msg from the back-end and printing it on the client
            socket.on('newMsg',(info)=>{
                var para=document.createElement('p')
                para.innerHTML=`<b>${info.user}:</b> ${info.msg} `;
                div.appendChild(para)
            })



            


        </script>

<script
src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
    </html>