<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/home.css">
	
    <title>CHATHERE</title>
</head>
<body class="body">

        
      <!------------------ header ------------------->
		<div class="row" >
			<div class="col-sm-12">
				<nav class="navbar navbar-expand-sm bg-dark">
					<div>
						<a href="/" class="navbar-brand text-center logo">CHATHERE</a>
						
					</div>



			<button style="color:white; font-size: 1em;" class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsiblenavbar">
          	<span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
            </button>


                        <div class="collapse navbar-collapse navbar" id="collapsiblenavbar"
            >  

		<ul class="navbar-nav ml-auto">

					
			
				<%   if(user)  {  %>
					<li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= user[0].username %></a>
						<ul class="dropdown-menu">
							<li class="dropdown-item"><a href="/account" class="nav-link ">Account</a></li>
		
						</ul></li>
		
			<li class="nav-item"><a href="/account/review" class="nav-link">Write to us</a></li>
			<li class="nav-item"><a href="/Logout" class="nav-link">Logout</a></li>
			<li class="nav-item"><a href="#" id="inviteFr" class="nav-link ">Invite Friends<i class="fa fa-share"></i></a></li>


		
			<%	} %>
			<%  if(!user) { %>
			<li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Login</a>
				<ul class="dropdown-menu">
					<li class="dropdown-item"><a href="/register" class="nav-link ">Register</a></li>

					<li class="dropdown-item"><a href="/Login" class="nav-link active">Login</a></li>
				</ul></li>
			<li class="nav-item"><a href="/allReviews" id="review-nav" class="nav-link ">Reviews</a></li>

			<li class="nav-item"><a href="#" id="share" class="nav-link ">Share <i class="fa fa-share"></i></a></li>
			<% } %>					
			
			</ul>



					</div>
				</nav>
			</div>
		</div>
    
	<div class="container">
    
        <%- body %>
    </div>

    <script	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="../style/script.js"></script>
	<script src="../style/delete.js"></script>
	<script src="../style/review.js"></script>


	
</body>
</html>