

<div >

    <div class="login">

        <h3>Login Here</h3>

        <a class="btn btn-danger" href="/Google">Google</a>
        <a class="btn btn-info" href="/facebook">Facebook</a>
        <br />
   
        <div class="form">
            <form action="#">
                Name:<br>
                <input type="email" placeholder="Email"><br>
                Password:<br>
                <input type="password" placeholder="Your Password"><br>
                <input type="submit" value="Login"> <span>or <a href="/Register" id="register">register</a></span>
            </form>
        </div>
    </div>
</div>