<div class="signup" >
    <h5>REGISTER HERE</h5><br>

    
    <a class="btn btn-danger" href="/Google">Google</a>

    <a class="btn btn-info" href="/facebook">Facebook</a>
    <br><br>
    <div class="form">
        <form action="#">
            Name:<br>
            <input type="text" id="username" placeholder="username"><br>
            Email:<br>
            <input type="email" id="mobile" placeholder="Your Email"><br>
            Password: <br>
            <input type="password" id="password" placeholder="Password"><br>
            <input type="submit" value="Register" ><span>OR <a href="/Login">Login</a></span>
        </form>
    </div>
</div>
